.booking-detail {
  text-align: right;
  color: black;
}

#title-index {
  font-weight: bolder;
}

#margin-title {
  margin: 16px;
  align-items: left;
  text-align: left;
}

#conf-button {
  margin: 1px 0px 1px 1px;
}
