#title-index {
  font-size: 40px;
  margin: 40px;
}

#container-offers {
  //display: flex;
  margin: 0px 40px;
}

.fa-star {
  color: rgba($color: #e9d200, $alpha: 1.0);
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.75)
}
