<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Time Travelling Made With <i class="fas fa-heart"></i> By The Time Overlords
  </div>

  <div class="footer-menu">
    <ul>
      <li> Home </li>
      <li> About Us</li>
      <li> legal </li>

</div>
