
<div class="about-text">
<h1>About Us & Meet the Team</h1>
<p>Since the birth of Time Travel, here at TimeLords inc have been commited to making your time adventures a reality. By using all the latest in time machines and working hand in hand with the providers, we are able to bring to you and those closest to you the possibility of seeing history in the making first hand.
All you have to do is choose your next Time Adventure!</p>
</div>

<div class="container-about">
  <div class="card-about1">
    <div class="border-about">
      <h2 class="h2-about" >Gonz</h2>
      <%# <div class="icons-about">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-dribbble" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div> %>
    </div>
  </div>
  <div class="card-about2">
    <div class="h2-about" class="border-about">
      <h2>Hunter Overlord</h2>
      <%# <div class="icons-about">
        <i class="fa fa-codepen" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div> %>
    </div>
  </div>
  <div class="card-about3">
    <div class="border-about h2-about">
      <h2>JunSama</h2>
      <%# <div class="icons-about">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div> %>
    </div>
  </div>
</div>
