
<body>
  <div class="banner-home" style="background-image: url('<%= cl_image_path("Time%20Peek/delorean_yiaylq.jpg") %>')">
    <h1 class="title-banner h1-banner">Time Peek</h1>
    <p class="p-banner"> Time Travel Experiences Made Easy</p>
  </div>


  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path("Time%20Peek/religion_tj0smj.jpg") %>')">
      Religious
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path("Time%20Peek/sports_jf593v.jpg") %>')">
    Sports
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path("Time%20Peek/music_dwsyyt.jpg") %>')">
      Music
    </div>
  </div>

</body>
