
<body>
  <div class="banner-home" style="background-image: url('<%= asset_url ('delorean.jpg')%>')">
    <h1 class="title-banner h1-banner">Time Peek</h1>
    <p class="p-banner"> Time Travel Experiences Made Easy</p>
  </div>


    <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_url ('religion.jpg')%>')">
      Religious
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_url ('sports.jpg')%>')">
    Sports
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_url ('music.jpg')%>')">
      Music
    </div>
  </div>

</body>
