<h1 class="text-center title-index-padding"><strong id="title-index">Your Next Mindblowing Trips</strong></h1>

<div class="container-fluid">
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card-trip">
          <img src="https://media.playmobil.com/i/playmobil/70317_product_detail/Back%20to%20the%20Future%20Delorean?locale=es-ES,es,*&$pdp_product_zoom_xl$&strip=true&qlt=80&fmt.jpeg.chroma=1,1,1&unsharp=0,1,1,7&fmt.jpeg.interlaced=true" />
          <div class="card-trip-infos">
            <div>
              <h2>offer.title</h2>
              <p>ratings</p>
            </div>
            <h2 class="card-trip-pricing">£ offer.price</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar dropdown-toggle" />
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
