<h1>Choose Your Time Adventure</h1>
<p></p>


<h1 class="text-center"><%= @offers.name %></h1>
<div class=“container”>
  <div class=“row”>
    <div class =“photo-row”>
      <div class=“col-xs-12 col-sm-6”>
        <div class=“card showmaincard”>
        <%# style=“background-image: url(‘’)“> %>
        </div>
      </div>
    </div>
  </div>
</div>
