<header>
<h1 class="text-center title-index-padding" id="title-index"><strong>New Time Travel</strong></h1>
</header>

<div class="container-new">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <%= render 'form', offer: @offer %>
      </div>
    </div>
  </div>
</div>
