<h1 class="text-center"><%= @offer.name %></h1>
<div class=“container”>
        <div id=style>
        <h2 id="eighty">THE EIGHTY YEARS WAR</h2>
          
          <p id="flanders">In October 1555, Emperor Charles V of the Holy Roman Empire began the gradual abdication of his several crowns. His son Philip II took over as sovereign of the Habsburg Netherlands,   which at the time was a personal union of seventeen provinces with little in common beyond their sovereign and a constitutional framework. This framework, assembled during the preceding reigns of Burgundian and Habsburg rulers, divided power between city governments, local nobility, provincial States, royal stadtholders, the States General of the Netherlands, and the central government (possibly represented by a Regent) assisted by three councils: the Council of State, the Privy Council and the Council of Finances. The balance of power was heavily weighted toward the local and regional governments. Jump into some of the major battles during this epic war setting in which the famous Spanish Tercios took on the Dutch forces time and time again. Smell the gunpowder and watch some of the most elite soldiers fight it out, to what would eventually result in the Peace of Munster agreement which would separate the battlefields between the now known territory of the Netherlands and Belgium.</p>
        <a class="btn btn-flat" href="#">Book now</a>
        </div>
      </div>
    </div>
  </div>
</div>
