.banner-home {
    height: 90vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.banner-container{
    background-size: cover;
    background-position: bottom;
}

.p-banner {
    margin-top: 5px;
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: bolder;
    font-family: inherit;
}

.h1-banner {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: ui-monospace;
    text-align: center;
}

.title-banner {
  text-align: start;
  font-size: 61px;
}
