.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding: 0px !important;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-color-white{
  color: black !important;
  font-weight: bolder;
}

.navbar-lewagon
.navbar-brand-image {
    width: 90px;
}
